@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    --clr-neon:hsl(145, 56%, 46%);
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    color: black;
}

.dark {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 2%;
    text-transform: uppercase;  
    font-family: 'Poppins', sans-serif;
    z-index: 3;
}

.dologo {
    color: black;
    z-index: 3;
}

.nav-link {
    text-align: right;
    background: #34b86b;
    padding: 10px 30px;
    border-bottom-left-radius: 18px;
    font-family: 'Poppins', sans-serif;

}



.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}


.nav-link ul li .nieobecny {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s ease;
}

.nav-link ul li .nieobecny:hover {
    color: black;
}

.nieobecny:hover > .nawias {
     color: black;
}

.nawias {
    color: #227846;
    transition: 0.5s ease;
}

.left-sidebar {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #34b86b;
    border-bottom-right-radius: 35%;
    border-top-right-radius: 35%;
}

.row {
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
}




.left-col {
    flex-basis: 40%;
}



.right-col {
    flex-basis: 50%;
    top: 32%;
    left: 43%;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 10vh;
}



.left-col img {
    width: 80%;
    height: 80%;
    cursor: pointer;
    border-radius: 20%;
    transition: transform 0.5s;
    box-shadow: inset 0 0 5em 0 var(--clr-neon), 0 0 5em 0 var(--clr-neon);
}


.left-col img:hover {
    transform: translateY(-8px);
}

.right-col h1 {
    font-size: 55px;
    font-weight: 700;
    justify-content: center;
    font-family: 'Fira Code', monospace;
    margin-bottom: 20px;
}

.right-col span {
    font-weight: normal;
}

.right-col p {
    margin-top: 5px;
    max-width: 800px;
    font-family: 'Fira Code', monospace;
}

.right-col * {
    -webkit-backface-visibility: hidden;
}

.social-icon {
    display: flex;
    margin-top: 35px;
}



.social-icon .icon {
    width: 80px;
    height: 80px;
    background: #34b86b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    overflow: hidden;
    transition: 0.5s;
}



.icon img {
    width: 45px;
}



.icon a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.icon a:hover {
    opacity: 1;
}

.icon:hover {
    transform: translateY(-5px); 
    background: white;
}

.obecny {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


.todo {
    color: #f58514;
}

.normal {
    color: #34b86b;
}

.important {
    color: #94c282;
}

.wykrzyknik {
    color: #e23216;
}

.pytajnik {
    color: rgb(32, 142, 150);
}

.kod {
    color: #34b86b;
    font-family: 'Fira Code', monospace;
}

.theme {
    width: 45px;
    height: 45px;
    background: #ffffff;
    outline: none;
    border: none;
    border-radius: 10px;
}

.theme i {
    font-size: 20px;
    color: black;
}

@media (max-width: 798px) {

    .logo {
        display: none;
    }
}